<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Subway Stories</title>
</head>
<body style="background-color: #85ADAD">
  <div id="top">
    <a href="/posts/create" id="first">Make a post!</a>
  </div>
  <div id="rules">
    <ul>
      <li>Post about NYC subway stories</li>
      <li>Make sure you enter a valid train line</li>
    </ul>
  </div>
  <div>
  <%= yield %>
  </div>
  <a href="/">Home</a>
</body>
</html>
