<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title>Danielle--Blog</title>
</head>
<body>
	<!--change from div?-->	
		
	<div id="header"><h1>Danielle Zoe Aloicius</h1><br>
		        <img src="/Snapshot_20080828_1.jpg" alt="DZA" height="100" width="120">	
	</div>
				
		
	<div id="post"><%= yield %></div>
</body>
</html>
