<!doctype html>

<html lang="en">
    <head>
      <meta charset="utf8">
      <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
      <h1> <center> Cooking Recipes </center> </h1>
    </head>

    <body>
      <div id="main">
        <%= yield %>
      </div>
    </body>
</html>