<!doctype html>
<html>
<head>
  <meta charset="utf8">
  <title>An simple reminder app with sinatra, postgrasql and heroku</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
  <header>
      <h1><em>A hard drive sometime is better than your brain</em></h1>
      <p><strong>An simple reminder app with sinatra, postgrasql and heroku</strong></p>
    <div>
      <%= yield %>
    </div>
  </header>
</body>
</html>