<form action="/submit" method="POST">
	<input type="text" name="model[name]" value="" />
	<input type="submit" value="Submit" />
</form>
<ul>
<% @models.each do |model| %>
	<div class="stuff">
		<%= model.name %>
		<small><a href ="/<%= model.id %>/delete">done</a></small>
	</div>
<% end %>
</ul>